# Core functionality - changes here should be rare!
/src/app.py                   @gibbonsd
/src/backend/database.py      @gibbonsd
/src/backend/routers/auth.py  @gibbonsd

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gibbonsd
